<html>
    <head>
        <title><%=title%></title>
        <% include ./jscssincluds.ejs %>
        <style>
            p.headingfont{
                font-family: miama, cursive;
            }
        </style>
        <link rel="icon" href="/images/home.png" sizes="16x16">
    </head>
    <body>
            <% include ./navmenu.ejs %>